<!DOCTYPE html>
<html>
<head>
<% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/user.ejs %>

  <a href="/threads/"><button>Go Back</button></a>

  <form action="/threads/<%= id %>?_method=PUT" method="POST">

    Title: <input type="text" name="title" value="<%= athread.title %>"/>
    <br/>

Start The Story! <br>
<textarea rows="4" cols="50" name="start">
<%= athread.start %>
</textarea><br/>

    Url: <input type="text" name="url" value="<%= athread.url %>"/>
    <br/>

    <input type="hidden" name="views" value="<%= athread.views %>"/><br/>

    <input type="hidden" name="id" value="<%= athread.id %>"/><br/>

    <input type="hidden" name="user" value="<%= athread.user %>"/><br/>

    <input type="hidden" name="lastuser" value="<%= athread.lastuser %>"/><br/>
  </input>

  <br/>
  <input class="submit" type="submit" name="" value="Submit Changes"/>
</form>
<% include ../partials/footer.ejs %>
</body>
</html>
