<!DOCTYPE html>
<html>
<head>
<% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/user.ejs %>

  <a href="/threads/"><button>Go Back</button></a>

  <form action="/threads/<%= id %>?_method=PUT" method="POST">

    title: <input type="text" name="title" value="<%= athread.title %>"/>
    <br/>
    start: <input type="text" name="start" value="<%= athread.start %>"/>
    <br/>

    Url: <input type="text" name="url" value="<%= athread.url %>"/>
    <br/>
    Views(hidden)
    <input type="hidden" name="views" value="<%= athread.views %>"/><br/>
    Id(hidden)
    <input type="hidden" name="id" value="<%= athread.id %>"/><br/>
    User(hidden)
    <input type="hidden" name="user" value="<%= athread.user %>"/><br/>
    LastUser(hidden)
    <input type="hidden" name="lastuser" value="<%= athread.lastuser %>"/><br/>
  </input>

  <br/>
  <input type="submit" name="" value="Submit Changes"/>
</form>
</body>
</html>
