<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <a href="/threads/">
      <button>Go To Threads</button></a>
    <br>
    <img src='<%= oneThread.url %>' />
    <div class="">
    <a href="/threads/<%=oneThread.id%>/edit">
      <button>Edit Thread</button></a>
    <form class= "" action="/threads/<%= oneThread.id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete Thread" />
    </form>
  </div>

    <% for (let piece of pieces) { %>
      <p><strong><%= piece.author %></strong> - <%= piece.content %></p>
    <% } %>

    <h3>Add a piece!</h3>

    <form action='/pieces' method='post'>
      <input type='text' name='content' placeholder='content' />
      <input type='text' name='author' placeholder='author' />
      <input type='hidden' name='thread' value='<%= oneThread._id %>' />
      <input type='submit' />
    </form>

  </body>
</html>
