<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/user.ejs %>
    <a href="/threads/"><button>Go Back</button></a>

    <%if (currentuser) {%>
      <p>Currently Viewing: <%=currentuser.username%></p>
      <%if (currentuser.id==oneThread.user||currentuser.admin == true){%>
        <div class="access">
        <a href="/threads/<%=oneThread.id%>/edit">
          <button>Edit Thread</button></a>
        <form class= "" action="/threads/<%= oneThread.id %>?_method=DELETE" method="POST">
          <input class="submit" type="submit" value="Delete Thread" />
        </form>
      </div>
      <%}}%>
    <h3 class="showend"><%=oneThread.title%>, Started By: <%=startuser.username%></h3>
    <hr>
    <%# <div class="allpieces">%>


    <div class="storypiece">


      <%let lastuser = oneThread.user;%>



      <div style="background-image: url(<%=oneThread.url%>); background-color:white" class="imgpiece">
        <img src='<%= oneThread.url %>'>
      </div>

      <div class="textpiece">

      <p class="content"><%=oneThread.start%></p>
      <p><strong><%=startuser.username%></strong></p>
      </div>

      </div>
    <%# </div>%>

      <hr>


    <%let left = false;%>
      <%# for loop for story pieces%>
    <% for (let piece of pieces) { %>
      <div class="storypiece">
      <%if (left) {%>
        <div class="textpiece">
        <p class="content"><%=piece.content%></p>
        <p><strong><%=piece.author%></strong></p>
        <%lastuser = piece.user;%>
        </div>

        <div style="background-image: url(<%=piece.url%>)" class="imgpiece">
        <img src="<%=piece.url%>">
        </div>
        <%left=false;%>
      <%} else{%>
        <div style="background-image: url(<%=piece.url%>)" class="imgpiece">
        <img src="<%=piece.url%>">
        </div>

        <div class="textpiece">
        <p class="content"><%=piece.content%></p>
        <p><strong><%=piece.author%></strong></p>
        <%lastuser = piece.user;%>
        </div>
        <%left=false;%>
      <%}%>


      </div>
      <hr>

      <% } %>


      <%# new story piece%>
      <%if (currentuser) {%>
        <%if (currentuser.id!=lastuser) {%>
          <form action='/pieces' method='post'>

Continue The Story! <br>
<textarea class="submit" rows="4" cols="50" name="content">
Thats how it went?
Well Maybe this is next..
</textarea>
<br/>

          Image Url:<input class="" type='text' name='url' value='https://images.unsplash.com/photo-1466951477635-f802dbe34af9?dpr=1&auto=format&fit=crop&w=376&h=251&q=60&cs=tinysrgb&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D' />
          <input type='hidden' name='thread' value='<%= oneThread._id %>' />
          <input type='hidden' name='user' value='<%= currentuser.id %>' />
          <input type='hidden' name='author' value='<%= currentuser.username %>' />
          <input type='hidden' name='respondto' value='<%= lastuser %>' />
          <button class="submit" type="submit">Post!</button>
          </form>
          <% } else{ %>
            <h3 class="showend">You were the last one to respond to the thread.</h3>
            <% } %>
            <%} else{%>
              <h3 class="showend">Log in to continue the story!</h3>
              <%}%>
            <h3><%=body%></h3>

      <% include ../partials/footer.ejs %>
  </body>
</html>
