<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/user.ejs %>
    <h2>Profile Page For: <%=user.username%></h2>
    <h2>Posts by <%=user.username%>:</h2>
    <div class="indexdiv">
    <%for (let thread of userthreads) {%>
        <div class="indexitem">
        <a class="indexa" href="/threads/<%=thread.id%>">
        <button class="indexbutton" >
        <h2><%=thread.title||"No Title"%></h2>
        <img class="indeximg" src= "<%=thread.url %>" onerror="this.src = 'https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg';"/>
        <p>Views: <%=thread.views%></p>
        </button>
        </a>
        </div>
    <%}%>
    </div>
  </body>
</html>
