<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/user.ejs %>

    <a href="/users/"><button>Go Back</button></a>

    <%if (currentuser) {%>
      <p>Currently Viewing: <%=currentuser.username%></p>
      <%if (currentuser.id==user.id||currentuser.admin == true){%>
        <div class="access">
        <a href="/users/<%=user.id%>/edit">
          <button>Edit Profile</button></a>
        <form class= "" action="/users/<%= user.id %>?_method=DELETE" method="POST">
          <button class="submit" type="submit">Delete Profile</button>
        </form>
      </div>
      <%}}%>
    <h2>Profile Page For: <%=user.username%></h2>
    <h2>Profile Picture:</h2>
    <img class="profilepic" src="<%=user.url%>"></img>
    <h2>Posts by <%=user.username%>:</h2>
    <div class="indexdiv">
    <%for (let thread of userthreads) {%>
        <div class="indexitem">
        <a class="indexa" href="/threads/<%=thread.id%>">
        <button class="indexbutton" >
        <h2><%=thread.title||"No Title"%></h2>
        <img class="indeximg" src= "<%=thread.url %>" onerror="this.src = 'https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg';"/>
        <p>Views: <%=thread.views%></p>
        </button>
        </a>
        </div>
    <%}%>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
